{% extends 'layout.html' %}
{% load tags %}
{% load i18n %}

{% block breadcrumbs %}
    <li><a href="{% url 'event-list' LANGUAGE_CODE %}">{% trans 'Events' %}</a></li>
    <li>{{ event.title }}</li>
{% endblock %}

{% block body %}
    <h1>{{ event.title }}</h1>
    <p class="date"><span class="icon"></span>{% transdate event.from_date %}{% if event.to_date %} -
        {% transdate event.to_date %}{% endif %}</p>
    <p>{{ event.body|safe }}</p>
    {% if event.medias %}
        {% for item in event.medias %}
            <li><a href="/media/{{ item.file }}">Download {{ item.type }}</a></li>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block comments %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'isechoorg' ; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by
        Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% endblock %}