{% extends 'layout.html' %}
{% load tags %}
{% load i18n %}

{% block breadcrumbs %}
    <li>{% trans 'Events' %}</li>
{% endblock %}

{% block body %}

    {% for event in events.object_list %}
        <h1><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></h1>
        <p class="date"><span class="icon"></span>{% transdate event.from_date %}{% if event.to_date %} -
            {% transdate event.to_date %}{% endif %}</p>
        <p>{{ event.body|safe|truncatewords:50 }}</p>
    {% endfor %}

    {% pagination events 1 request 'Next' 'Previous' %}

{% endblock %}