{% extends 'layout.html' %}

{% block breadcrumbs %}
    <li>{{ flatpage.title }}</li>
{% endblock %}s

{% block body %}

    <h2>{{ flatpage.title }}</h2>
    <div id="xmn-map-canvas"></div>
    <p>{{ flatpage.body|safe }}</p>

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtTLmNvIgB5bJYxsxM8gCfx_rc4JQQj58">
    </script>
    <script type="text/javascript">
        function initialize() {
            var center = new google.maps.LatLng(35.736396, 51.385062);
            var mapOptions = {
                center: center,
                zoom: 16
            };
            var map = new google.maps.Map(document.getElementById('xmn-map-canvas'),mapOptions);
            var marker = new google.maps.Marker({
                position: center,
                map: map,
                title: ''
            })
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>


{% endblock %}
